@import url("./_variables.css");

.badge {
  color: var(--white-color);
  display: inline-block;
  padding: 5.6px 10.4px;
  font-size: var(--f-s-xs);
  font-weight: 700;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: var(--rounded-pill);
}
