#pageBody {
  margin: var(--header-height) 0 0 var(--sidebar-width);
  height: calc(100vh - var(--header-height));
  background-color: var(--light-color);
  overflow-y: auto;
  overflow-x: hidden;
  transition: margin-left 1s;
}

#pageBody.active {
  margin-left: 0;
}

.page-container {
  margin: var(--gap-lg);
}

.row {
  margin: var(--gap-y-lg);
}