@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
@import url("./_normalize.css");
@import url("./_variables.css");
@import url("./_animations.css");
@import url("./_header.css");
@import url("./_sidebar.css");
@import url("./_page-body.css");
@import url("./_card.css");
@import url("./_helper.css");
@import url("./_loader.css");
@import url("./_table.css");
@import url("./_button.css");
@import url("./_toastr.css");
@import url("./_responsive.css");

/* Universal */
*, *::after, *::before {
  font-family: var(--montserrat-font);
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: var(--scrollbar-size);
  height: var(--scrollbar-size);
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
}

::-webkit-scrollbar-track {
  box-shadow: var(--scrollbar-shadow);
}

/* Custom Selection */
::selection {
  color: var(--white-color);
  background-color: var(--primary-color);
}

/* Body Element */
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

img {
  -webkit-user-drag: none;
  user-select: none;
}